@import 'reset';
@import 'vars';


html {
  font-size: 1em;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    html {
      font-size: 0.445em;
  }
}

@media only screen
and (min-device-width: 1024px) 
and (max-device-width: 1440px) {
  html {
    font-size: 0.6em;
  }
}

@media only screen
and (min-device-width: 1440px)
and (min-device-width: 2560px) {
  html {
    font-size: 0.2em;
  }
}
